@media (max-width: 768px) {
	body {
		display: block;
	}
	.app-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 100%;
		height: 100vh;
		margin: 0;
		padding: 5rem 2.5rem;
		text-align: center;
		border-radius: 0;
	}

	.controls-wrapper {
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.passwords-wrapper {
		flex-direction: column;
		align-items: stretch;
		gap: 1rem;
	}

	/* Adjust input widths */
	#password-length {
		width: 3rem;
	}

	/* Adjust font size */
	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.125rem;
		margin-bottom: 2rem;
	}

	/* Adjust button sizes */
	.generate-btn {
		width: 100%;
		margin-bottom: 0;
	}

	/* Stack checkbox items vertically but keep symbols and numbers side by side */
	.checkbox-wrapper {
		flex-direction: row; /* Keep them side by side */
		gap: 1.875rem;
		justify-content: center;
	}

	.include-symbols-wrapper,
	.include-nums-wrapper {
		display: inline-block;
	}

	#theme-btn {
		font-size: 2rem;
	}
}
